@model StreamWorld.Models.Production

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Production</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.releaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.releaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.coverPhoto)
        </dt>
        <dd class = "col-sm-10">
            <img src=@Model.coverPhoto alt="cover_photo" width="200px"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productionsGenres)
        </dt>
        <dd>
            @foreach (var g in Model.productionsGenres)
            {
                @g.genres.name <br />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productionsArtists)
        </dt>
        <dd>
            @foreach (var a in Model.productionsArtists)
            {
                @a.artists.name <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?._id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
