@model IEnumerable<StreamWorld.Models.Production>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.releaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coverPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productionsGenres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productionsArtists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.director)
            </td>
            <td>
                <img src=@item.coverPhoto alt="cover_photo" width="200px" />
            </td>
            <td>
                @if (item?.productionsGenres != null)
                {
                    <ol>
                        @foreach (var g in item.productionsGenres)
                        {
                            <li>
                                @g.genres?.name
                            </li>
                        }
                    </ol>
                }
            </td>
            <td>
                @if (item?.productionsArtists != null)
                {
                    <ol>
                        @foreach (var a in item.productionsArtists)
                        {
                            <li>
                                @a.artists?.name
                            </li>
                        }
                    </ol>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item?._id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item?._id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item?._id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
