@model IEnumerable<StreamWorld.Models.Contact>

@{
    ViewData["Title"] = "Mensagens Recebidas";
}

<h2>Mensagens Recebidas</h2>

<p>
    <a asp-action="Create">Criar nova mensagem</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.submissionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submissionDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item._id">Ver</a> 
            </td>
        </tr>
}
    </tbody>
</table>
