@model StreamWorld.Models.Artist

@{
    ViewData["Title"] = "Detalhes do Artista";
}

<h2 class="mb-4">@Model.name</h2>

<div class="row">
    <!-- CAPA -->
    <div class="col-md-4">
        <img src="@(string.IsNullOrEmpty(Model.photo) ? "/images/no-image.jpg" : Model.photo)"
             alt="Capa"
             class="img-fluid rounded shadow" />
    </div>

    <!-- INFORMAÇÕES -->
    <div class="col-md-8">
        <h4>Informações Gerais</h4>
        <hr />

        <p><strong>@Html.DisplayNameFor(model => model.name)</strong> @Html.DisplayFor(model => model.name)</p>
        <p><strong>@Html.DisplayNameFor(model => model.birthdate)</strong> @Html.DisplayFor(model => model.birthdate)</p>
        <p><strong>@Html.DisplayNameFor(model => model.countryBirth)</strong> @Html.DisplayFor(model => model.countryBirth)</p>
    
        <div>
            <a asp-action="Edit" asp-route-id="@Model?._id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
