@model IEnumerable<StreamWorld.Models.Production>

@{
    ViewData["Title"] = "Últimos títulos";
}

<h2 class="mb-4">Últimos títulos adicionados</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">

@foreach (var item in Model)
{
    <div class="col">
        <a asp-controller="Productions" asp-action="Details" asp-route-id="@item._id" class="text-decoration-none">
            <div class="card h-100 shadow-sm">
                <img src="@item.coverPhoto" class="card-img-top" alt="@item.titulo" style="height: 260px; object-fit: cover;">
                <div class="card-body text-center">
                    <h6 class="card-title">
                        <a 
                            asp-controller="Productions"
                            asp-action="Details" 
                            asp-route-id="@item._id"
                            class="card-title fw-bold text-dark"
                        >
                            @item.titulo
                        </a>
                    </h6>
                </div>
            </div>
        </a>
    </div>
}

</div>
